@model IEnumerable<eCommerce.Models.mcs_Payment>

@{
	ViewData["Title"] = "Index - mcs_Payment";
	Layout="~/Pages/Shared/_Layout.cshtml";
}
    
<h1>mcs_Payment - Index</h1>

<p>
    Web Api Functions:
    <input id="btn_Get" type="button" value="Get" />
    <input id="btn_Post" type="button" value="Post" />
    <input id="btn_Put" type="button" value="Put" />
    <input id="btn_Delete" type="button" value="Delete" />
</p>
<p>
    @Html.ActionLink("Create New", "Create", "mcs_Payment")
</p>
<table class="table table-striped" id="tbl_mcs_Payment">
    <thead>
        <tr class="tableCaption">
            <th>@Html.DisplayNameFor(model => model.PaymentId)</th>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentType)</th>
            <th>@Html.DisplayNameFor(model => model.Created_at)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.Currency)</th>
            <th>@Html.DisplayNameFor(model => model.OrderId)</th>
            <th>@Html.DisplayNameFor(model => model.AddressId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
	@foreach (var item in Model) 
	{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PaymentId)</td>
            <td>@Html.DisplayFor(modelItem => item.UserId)</td>
            <td>@Html.DisplayFor(modelItem => item.PaymentType)</td>
            <td>@Html.DisplayFor(modelItem => item.Created_at)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.Currency)</td>
            <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
            <td>@Html.DisplayFor(modelItem => item.AddressId)</td>
            <td>
				@Html.ActionLink("Edit", "Edit", "mcs_Payment", new { PaymentId = item.PaymentId })
				@Html.ActionLink("Details", "Details", "mcs_Payment", new { PaymentId = item.PaymentId })
                @Html.ActionLink("Delete", "Delete", "mcs_Payment", new { PaymentId = item.PaymentId })

            </td>
        </tr>
	}
</tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tbl_mcs_Payment').DataTable();
    });
</script>
<script>
    $(document).ready(function () {

        /////////////////////////////
        // IMPORTANT
        // The following code samples are provided as an example.
        // Security problems may occur.
        /////////////////////////////

        async function getData(url = '', data = {}) {
            // Default options are marked with *
            let token = "Get your token here, Store it in local storage and read it from local storage is a better method"
            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": JwtBearerKey //This field value appears. It causes serious security problems.
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                //body: JSON.stringify(data) // body data type must match "Content-Type" header
            });

            if (response.status != '200')
                alert(response.status + ' ' + response.statusText);

            return response.json(); // parses JSON response into native JavaScript objects
        }

        async function postData(url = '', data = {}) {
            // Default options are marked with *
            let token = "Get your token here, Store it in local storage and read it from local storage is a better method"
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    "Authorization": JwtBearerKey //This field value appears. It causes serious security problems.
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });

            if (response.status != '200')
                alert(response.status + ' ' + response.statusText);

            return response.json(); // parses JSON response into native JavaScript objects
        }

        $('#btn_Get').click(function () {
            getData('api/mcs_Payment', {})
                .then(data => {
                    alert(JSON.stringify(data)); // JSON data parsed by `data.json()` call
                });
        });

        $('#btn_Post').click(function () {
            var data = {
				PaymentId: '',
				UserId: '',
				PaymentType: '',
				Created_at: '',
				Amount: '',
				Currency: '',
				OrderId: '',
				AddressId: '',
            };
            postData('api/mcs_Payment', data)
                .then(data => {
                    alert(JSON.stringify(data)); // JSON data parsed by `data.json()` call
                });
        });

        $('#btn_Put').click(function () {
            var ids = '1';
            var data = {
				PaymentId: '',
				UserId: '',
				PaymentType: '',
				Created_at: '',
				Amount: '',
				Currency: '',
				OrderId: '',
				AddressId: '',
            };
            postData('api/mcs_Payment/update/' + ids, data)
                .then(data => {
                    alert(JSON.stringify(data)); // JSON data parsed by `data.json()` call
                });
        });

        $('#btn_Delete').click(function () {
            var ids = '2';
            postData('api/mcs_Payment/delete/' + ids, null)
                .then(data => {
                    alert(JSON.stringify(data));
                });
        });
    });
</script>
